<section class="investment-widgets">
  <div class="widget">
    <div class="widget-icon">
      <i class="icon-widget-money"></i>
    </div>
    <div class="widget-text">
      <span class="widget-text-heading">Total Invested Amount</span>
      <span class="widget-text-number">{{
        150000 | currency : "USD" : "symbol" : "1.0-0"
      }}</span>
    </div>
  </div>

  <div class="widget">
    <div class="widget-icon">
      <i class="icon-widget-pie"></i>
    </div>
    <div class="widget-text">
      <span class="widget-text-heading">Number of Investments</span>
      <span class="widget-text-number">{{ 1250 | number }}</span>
    </div>
  </div>

  <div class="widget">
    <div class="widget-icon">
      <i class="icon-widget-return"></i>
    </div>
    <div class="widget-text">
      <span class="widget-text-heading">Rate of Return</span>
      <span class="widget-text-number">+5.80%</span>
    </div>
  </div>
</section>
