:host::ng-deep {
  .p-splitter-horizontal > .p-splitter-gutter,
  .p-splitter-vertical > .p-splitter-gutter,
  .p-splitter .p-splitter-gutter {
    cursor: none;
    background-color: #e6eff5;
  }
}

.main-container {
  height: 97.5vh;
  width: 100%;
  display: flex;
}
p-splitter {
  width: 100%;
}

.spliter-item {
  display: flex;
  width: 100%;
}
