<section class="investment-treding-stocks">
  <div class="card">
    <div class="chart-heading">
      <span class="chart-heading-text">Trending Stock</span>
    </div>

    <div class="table-section">
      <p-table
        dataKey="id"
        [value]="mockStocks"
        tableStyleClass="table-style"
        [scrollable]="true"
        [scrollHeight]="'flex'"
      >
        <ng-template pTemplate="header">
          <tr style="display: flex">
            <th class="table-column">SL No</th>
            <th class="table-column">Name</th>
            <th class="table-column">Price</th>
            <th class="table-column">Return</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr style="display: flex">
            <td class="table-column">
              {{ rowIndex < 9 ? "0" + (rowIndex + 1) : rowIndex + 1 }}.
            </td>
            <td class="table-column">{{ product.name }}</td>
            <td class="table-column">
              {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
            </td>
            <td
              [ngClass]="product.return < 0 ? 'red' : 'green'"
              class="table-column"
            >
              {{ product.return < 0 ? product.return : "+" + product.return }}%
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- table-section-height -->
  <!-- scrollHeight="'flex'" -->
</section>
